<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jung.Ssave.user.repository.UserRepository">
    
    <insert id="insertUser" parameterType="map">
       
        INSERT INTO
            `user`
            (
                `loginId`
                , `name`
                , `password`
                , `phoneNumber`
            )
        VALUE
            (
                #{loginId}
                , #{name}
                , #{password}
                , #{phoneNumber}
            )     
            
    </insert>
    
    <select id="selectUser" parameterType="map" resultType="com.jung.Ssave.user.domain.User">
        
        SELECT
            `id`
            , `loginId`
            , `name`
            , `password`
            , `phoneNumber`
            , `createdAt`
            , `updatedAt`
        FROM
            `user`
        WHERE
            `loginId` = #{loginId}
        AND
            `password` = #{password}
            
    </select>
    
    <select id="selectCountByLoginId" parameterType="String" resultType="int">
        
        SELECT
            count(*)
        FROM
            `user`
        WHERE
            `loginId` = #{loginId}
            
    </select>

</mapper>