@charset "UTF-8";

#wrap{
    width: 1200px;
    margin: 0 auto;
}

.main-manu{
	width: 70px;
	margin-top: 75px;
	background-color: rgb(255, 241, 255);
}

.section{
	width: 1150px;
}

.contents > .input-box{
    width: 400px;
    height: 630px;
}

.contents > .input-box2{
    width: 400px;
    height: 560px;
}

.input-box > .put{
    margin: 0 auto;
}

.input-box2 > .put2{
    margin: 0 auto;
}

.put > .duplicate-btn{
    width: 302px;
    height: 25px;
}

footer{
    width: 1200px;
    height: 190px;
}

footer > .sub-login{
    width: 400px;
    height: 110px;
}